.angled-section {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(20, 20, 20, 0.5)),
      url('/assets/Grunge2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 1;
  overflow: hidden;
}


.angled-section2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -15px;
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.9)),
    url('/assets/background/martin-middle.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  clip-path: polygon(0 0, 100% 0%, 0 100%, 0% 100%);
  z-index: 1;
  overflow: hidden;
}


.angled-line {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0%, 0 100%, 0% 100%);
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.6)),
    url('/assets/granulado-rojo.png');
}

/* Pseudo-elemento opcional para overlay de ruido */
/* .angled-section::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.08;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: 2;
    background-color: rgba(0255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
} */
  
.angled-section-disciplines {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 0
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/assets/thai-writings-bg.png');
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-position: center;
  background-attachment: fixed;
  clip-path: polygon( 0% 75%, 0% 100%, 100% 100%, 100% 92%);
  z-index: 2;
  overflow: hidden;
}

.angled-section2-disciplines {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/assets/thai-writings-bg.png');
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-position: left;
  background-attachment: fixed;
  clip-path: polygon(90% 0%, 0% 0%, 0% 25%);
  z-index: 2;
  overflow: hidden;
}

.angled-line-disciplines {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon( 0% 74%, 0% 100%, 100% 100%, 100% 90%);
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/assets/granulado-rojo.png');
  z-index: 1;
}

.angled-line2-disciplines {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(98% 0%, 0% 0%, 0% 26%);
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/assets/granulado-rojo.png');
  z-index: 1;
}

.angled-background-disciplines {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)),
    url('/assets/background/Aldu-Recto.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}




/* CONTACTOSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */



.angled-section-contact {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/assets/thai-writings-bg.png');
  background-size: cover;
  background-position: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 5%);
  z-index: 2;
  overflow: hidden;
}


.angled-section2-contact {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/assets/thai-writings-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0% 60%, 100% 95%, 100% 100%, 0% 100%);
  z-index: 2;
  overflow: hidden;
}

.angled-line-contact {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 27%, 0% 5.5%);
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/assets/granulado-rojo.png');
  z-index: 1;
}

.angled-line2-contact {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 59%, 100% 93%, 100% 100%, 0% 100%);
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/assets/granulado-rojo.png');
  z-index: 1;
}

.angled-background-contact {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('/assets/background/Fran-bloqueo2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

















.angled-section-disciplines-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
      url('/assets/mma-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  clip-path: polygon(62% 0%, 100% 0%, 100% 100%, 86% 100%);
  z-index: 2;
  overflow: hidden;
}

.angled-section2-disciplines-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
      url('/assets/mma-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  clip-path: polygon(0% 11%, 19% 100%, 0% 100%);
  z-index: 2;
  overflow: hidden;
}

.angled-line-disciplines-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(60.5% 0%, 100% 0%, 100% 100%, 85.5% 100%);
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('/assets/granulado-rojo.png');
  z-index: 1;
}

.angled-line2-disciplines-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon( 0% 10%, 20% 100%, 0% 100%);
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('/assets/granulado-rojo.png');
  z-index: 1;
}

.angled-background-disciplines-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/assets/background/Dani-lucha.JPG');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

















.angled-section-team {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.6)),
    url('/assets/Grunge2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0% 61%, 100% 95%, 100% 100%, 0% 100%);
  z-index: 2;
  overflow: hidden;
}


.angled-section2-team {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
  linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(20, 20, 20, 0.6)),
    url('/assets/Grunge2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 15%, 0% 3%);
  z-index: 2;
  overflow: hidden;
}

.angled-line-team {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 60%, 100% 92%, 100% 100%, 0% 100%);
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(20, 20, 20, 0.4)),
    url('/assets/granulado-rojo.png');
  z-index: 1;
}

.angled-line2-team {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 16%, 0% 6%);
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(20, 20, 20, 0.4)),
    url('/assets/granulado-rojo.png');
  z-index: 1;
}


















.angled-section-academy {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/assets/thai-writings-bg.png');
  background-size: cover;
  background-position: center;
  clip-path: polygon(80% 0%, 100% 0%, 100% 98%);
  /* clip-path: polygon(100% 72%, 0% 89%, 0% 100%, 100% 100%); */
  z-index: 2;
  overflow: hidden;
}


.angled-section2-academy {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/assets/thai-writings-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* clip-path: polygon(0% 60%, 100% 95%, 100% 100%, 0% 100%); */
  clip-path: polygon(0% 2%, 0% 100%, 20% 100%);
  z-index: 2;
  overflow: hidden;
}

.angled-line-academy {
  position: absolute;
  width: 100%;
  height: 100%;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 27%, 0% 5.5%); */
  clip-path: polygon(79% 0%, 100% 0%, 100% 100%);
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/assets/granulado-rojo.png');
  z-index: 1;
}

.angled-line2-academy {
  position: absolute;
  width: 100%;
  height: 100%;
  /* clip-path: polygon(0% 59%, 100% 93%, 100% 100%, 0% 100%); */
  clip-path: polygon(0% 0%, 0% 100%, 21% 100% );
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('/assets/granulado-rojo.png');
  z-index: 1;
}


.angled-background-academy {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)),
    url('/assets/background/martin-middle-resized.JPG');
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  /* background-repeat: no-repeat; */
}

.divider-shape {
  fill: url(#texture-pattern);
  transform: scaleY(1.5);
  transform-origin: top;
}













































.angled-section-locations {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/assets/thai-writings-bg.png');
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  /* background-attachment: fixed; */
  clip-path: polygon(2% 0%, 100% 0%, 100% 30%);
  z-index: 2;
  overflow: hidden;
}

.angled-section2-locations {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/assets/thai-writings-bg.png');
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-position: left;
  /* background-attachment: fixed; */
  clip-path: polygon(0% 65%, 0% 100%, 99% 100%);
  z-index: 2;
  overflow: hidden;
}

.angled-line-locations {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 32%);
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/assets/granulado-rojo.png');
  z-index: 1;
}

.angled-line2-locations {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 63%, 0% 100%, 100% 100%);
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/assets/granulado-rojo.png');
  z-index: 1;
}

.angled-background-locations {
  position: absolute;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(20, 20, 20, 0.4)),
      url('/assets/background/Martin\ IKTA.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}



























































.index-portrait-bg {
  background: 
    linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
    url('/assets/thai-tiger-bg.png');
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}


.index-levels-bg {
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.35), rgba(1, 1, 1, 0.35)),
      url('/assets/thai-writings-bg.png');
  background-size: contain;
  /* background-attachment: fixed; */
  background-position: center;
}

.discliplines-writing-bg {
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/assets/thai-writings-bg.png');
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}


.discliplines-cage-bg {
  background: 
    linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
      url('/assets/mma-bg.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
}


.index-presentation-bg {
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('/assets/thai-painting-bg.png');
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center;
}

.academy-row-bg-2 {
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('/assets/thai-temple-painting.png');
  background-size: contain;
  /* background-attachment: fixed; */
  background-position: center;
}


.index-row-bg {
  background: 
  linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url('/assets/thai-god-bg.png');
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}

.index-row-bg-2 {
  background: 
  linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url('/assets/thai-god-bg.png');
  background-size: contain;
  /* background-attachment: fixed; */
  background-position: center;
}

.locations-row-bg{
  background: 
  linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(20, 20, 20, 0.3)),
    url('/assets/thai-tiger-bg.png');
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}

.martin-img {
  width: 100%;
  height: 100%;
  background: url('/assets/background/Martin-Bolsa.JPG');
  background-size: cover;
  background-position: center;
}

.martin-partner-img {
  width: 100%;
  height: 100%;
  background: url('/assets/background/Martin-partner-small.JPG');
  background-size: cover;
  background-position: left;
}

.thai-reverence-single-img {
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/assets/thai-reverence-single-light.png');
  /* background: url('/assets/thai-reverence-single.png'); */
  background-size: cover;
  background-position: center;
}


.academy-row-bg{
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('/assets/thai-papyrum-bg.png');
  background-size: contain;
  /* background-attachment: fixed; */
  background-position: center;
}

.values-col-bg {
  background: 
    linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
      url('/assets/thai-wai-kru-1.png');
  background-size: contain;
  /* background-attachment: fixed; */
  background-position: center;
}

.values-col-bg-2 {
  background: 
    linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)),
      url('/assets/thai-wai-kru-2.png');
  background-size: contain;
  /* background-attachment: fixed; */
  background-position: center;
}

.thai-reverence {
  width: 100%;
  height: 100%;
  /* background: url('/assets/thai-reverence.png'); */
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.25), rgba(20, 20, 20, 0.25)),
      url('/assets/thai-reverence.png');
  background-size: cover;
  background-position: center;
}

.thai-lean-back-bg {
  background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('/assets/thai-lean-back.png');
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: top;
}




